name: Detekt Static Code Analysis

on:
  pull_request:
    branches: [ "master" ]

jobs:
  detekt:
    runs-on: ubuntu-latest
    if: github.head_ref != 'github/module-graph
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Run Detekt and generate reports
        run: |
          chmod +x gradlew
          ./gradlew detekt -Pconfig-file=path/to/your/detekt.yml -Poutput-format=xml,html -Poutput-dir=path/to/your/reports

      - name: Upload Detekt reports
        uses: actions/upload-artifact@v3
        with:
          name: detekt-reports
          path: |
            path/to/your/reports/*.xml
            path/to/your/reports/*.html
